@font-face
{
  font-family: 'tom';
  src: url('../fonts/tom3.otf');
}
body
{
  display: block;
  font-weight: bold;
  font-family: 'tom';
  background-color: #1b1b1b;
  color: #ffa31a;
  margin: 0px;
}
input::placeholder
{
     opacity: 1
}
.top_nav
{
  background-color: #000000;
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.logoimg
{
  padding: 10px 10px 10px 10px;
}
.search
{
  display: flex;
  padding: 20px 20px 20px 20px;
}
.search_term
{
  background-color: #292929;
  border: 0px solid #808080;
  border-right: none;
  font-family: tom;
  font-size: 17px;
  border-radius: 7px 0 0 7px;
  outline: none;
  color: #808080;
  width: 300px;
  padding-left: 20px;
  transition: 0.2s;
}
.search_term:focus
{
  background-color: #292929;
  border: 0px solid #808080;
  border-right: none;
  font-size: 19px;
  border-radius: 7px 0 0 7px;
  outline: none;
  color: #ffa31a;
  width: 300px;
  padding-left: 20px;
  transition: 0.2s;
}
.search_butt
{
  background-color: #ffa31a;
  border: 0px solid #ffa31a;
  border-radius: 0 7px 7px 0;
  outline: none;
  width: 100px;
  text-align: center;
  color: #1b1b1b;
  transition: 0.2s
}
.search_butt:active
{
  background-color: #1b1b1b;
  border: 1.5px solid #ffa31a;
  border-radius: 0 7px 7px 0;
  outline: none;
  width: 100px;
  text-align: center;
  color: #ffa31a;
  transition: 0.2s;
}
.sign
{
  display: flex;
  padding: 20px 20px 20px 20px;
  float: right;
  gap: 20px;
  justify-content: space-between;
}
.login
{
  border: none;
  border-radius: 7px;
  font-size: 17px;
  font-family: 'tom';
  background-color: #808080;
  color: #1b1b1b;
  padding-left: 30px;
  padding-right:30px;
  transition: 0.2s;
}
.login:active
{
  background-color: #1b1b1b;
  color: #ffa31a;
  transition: 0.2s;
}
.signup
{
  border: none;
  border-radius: 7px;
  font-family: 'tom';
  font-size: 17px;
  background-color: #ffa31a;
  color: #1b1b1b;
  padding-left: 30px;
  padding-right:30px;
  transition: 0.2s;
}
.signup:active
{
  background-color: #1b1b1b;
  color: #ffa31a;
  transition: 0.2s;
}
.two
{
  display: flex;
  flex-direction: row;
  height: 100%;
}
.Left_nav
{
  display: flex;
  flex-direction: column;
  background-color: #292929;
  width:220px;
  padding-top: 10px;
  padding-right: 20px;
  align-items: center;
  text-align: center;
  float:left;
  padding-bottom: 100%;
}
.feed
{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
  background-color: #1b1b1b;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.objs
{
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 7px;
  background-color: #292929;
  transition: 0.2s;
}
.objs:hover
{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  color: #000000;
  padding: 20px;
  border-radius: 7px;
  background-color: #ffa31a;
  transition: 0.2s;
}
.obj_img
{
  border-radius: 7px;
}
.img_box
{
  display: flex;
  justify-content: center;
  height: 250px;
  width: 250px;
  border-radius: 7px;
  background-color: #ffffff;
}
.price
{
  font-size: 35px;
  margin-top: 0px;
  margin-bottom: 0px;
}
input[type="radio"]
{
  display: none;
}
.filter-labels
{
  padding: 6px;
}
label
{
  cursor: pointer;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 25px;
  padding-right: 25px;
  border: 2px solid #ffa31a;
  background-color: #1b1b1b;
  border-radius: 15px;
  transition: 0.2s;
  transition-timing-function: ease;
}
input[type="radio"]:checked + label
{
    color: #1b1b1b;
    background-color: #ffa31a;
    transition: 0.2s;
    transition-timing-function: ease;
}
.slider-box
{
  padding-top: 10px;
  padding-left: 15px;
}
.slider
{
  -webkit-appearance: none;
  height: 2px;
  background: #ffa31a;
  outline: none;
  border-radius: 50px;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb
{
  -webkit-appearance: none;
  appearance: none;
  background: #ffa31a;
  cursor: pointer;
}

.slider::-moz-range-thumb
{
  border: 2px solid #1b1b1b;
  border-radius: 15px;
  background: #ffa31a;
  cursor: pointer;
}
